<a href="https://colab.research.google.com/github/ahteshaaam/Global-Terrorism-Database-/blob/main/Global_Terrorism_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

# <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>

In [36]:
# Importing all the required libraries for the data exploration
import numpy as np
import pandas as pd
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Mounting the drive in Google Colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [37]:
# Loading the csv file 
file_path = '/content/drive/MyDrive/Colab Notebooks/Datasets/capstone 1/'
terrordf = pd.read_csv(file_path+'Copy of Global Terrorism Data.csv', encoding = "ISO-8859-1")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

since the dataset is not in UTF-8 encoding hence use ISO-8859-1 encoding to avoid the error

In [6]:
terrordf.info(135)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 135 columns):
 #   Column              Dtype
---  ------              -----
 0   eventid             int64
 1   iyear               int64
 2   imonth              int64
 3   iday                int64
 4   approxdate          object
 5   extended            int64
 6   resolution          object
 7   country             int64
 8   country_txt         object
 9   region              int64
 10  region_txt          object
 11  provstate           object
 12  city                object
 13  latitude            float64
 14  longitude           float64
 15  specificity         float64
 16  vicinity            int64
 17  location            object
 18  summary             object
 19  crit1               int64
 20  crit2               int64
 21  crit3               int64
 22  doubtterr           float64
 23  alternative         float64
 24  alternative_txt     object
 25  multiple            float64
 26  success             int64
 27  suicide             int64
 28  attacktype1         int64
 29  attacktype1_txt     object
 30  attacktype2         float64
 31  attacktype2_txt     object
 32  attacktype3         float64
 33  attacktype3_txt     object
 34  targtype1           int64
 35  targtype1_txt       object
 36  targsubtype1        float64
 37  targsubtype1_txt    object
 38  corp1               object
 39  target1             object
 40  natlty1             float64
 41  natlty1_txt         object
 42  targtype2           float64
 43  targtype2_txt       object
 44  targsubtype2        float64
 45  targsubtype2_txt    object
 46  corp2               object
 47  target2             object
 48  natlty2             float64
 49  natlty2_txt         object
 50  targtype3           float64
 51  targtype3_txt       object
 52  targsubtype3        float64
 53  targsubtype3_txt    object
 54  corp3               object
 55  target3             object
 56  natlty3             float64
 57  natlty3_txt         object
 58  gname               object
 59  gsubname            object
 60  gname2              object
 61  gsubname2           object
 62  gname3              object
 63  gsubname3           object
 64  motive              object
 65  guncertain1         float64
 66  guncertain2         float64
 67  guncertain3         float64
 68  individual          int64
 69  nperps              float64
 70  nperpcap            float64
 71  claimed             float64
 72  claimmode           float64
 73  claimmode_txt       object
 74  claim2              float64
 75  claimmode2          float64
 76  claimmode2_txt      object
 77  claim3              float64
 78  claimmode3          float64
 79  claimmode3_txt      object
 80  compclaim           float64
 81  weaptype1           int64
 82  weaptype1_txt       object
 83  weapsubtype1        float64
 84  weapsubtype1_txt    object
 85  weaptype2           float64
 86  weaptype2_txt       object
 87  weapsubtype2        float64
 88  weapsubtype2_txt    object
 89  weaptype3           float64
 90  weaptype3_txt       object
 91  weapsubtype3        float64
 92  weapsubtype3_txt    object
 93  weaptype4           float64
 94  weaptype4_txt       object
 95  weapsubtype4        float64
 96  weapsubtype4_txt    object
 97  weapdetail          object
 98  nkill               float64
 99  nkillus             float64
 100 nkillter            float64
 101 nwound              float64
 102 nwoundus            float64
 103 nwoundte            float64
 104 property            int64
 105 propextent          float64
 106 propextent_txt      object
 107 propvalue           float64
 108 propcomment         object
 109 ishostkid           float64
 110 nhostkid            float64
 111 nhostkidus          float64
 112 nhours              float64
 113 ndays               float64
 114 divert              object
 115 kidhijcountry       object
 116 ransom              float64
 117 ransomamt           float64
 118 ransomamtus         float64
 119 ransompaid          float64
 120 ransompaidus        float64
 121 ransomnote          object
 122 hostkidoutcome      float64
 123 hostkidoutcome_txt  object
 124 nreleased           float64
 125 addnotes            object
 126 scite1              object
 127 scite2              object
 128 scite3              object
 129 dbsource            object
 130 INT_LOG             int64
 131 INT_IDEO            int64
 132 INT_MISC            int64
 133 INT_ANY             int64
 134 related             object
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [38]:
terrordf.head(5)

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...        0         0       0      NaN
1  197000000002   1970       0     0  ...        1         1       1      NaN
2  197001000001   1970       1     0  ...       -9         1       1      NaN
3  197001000002   1970       1     0  ...       -9         1       1      NaN
4  197001000003   1970       1     0  ...       -9         1       1      NaN

[5 rows x 135 columns]

In [9]:
# Renaming the Columns with the suitable names for understanding purpose
terrordf.rename(columns={'iyear':'Year','imonth':'Month','iday':'Day','country_txt':'Country','region_txt':'Region',
                         'attacktype1_txt':'AttackType','target1':'Target','nkill':'Killed','nwound':'Wounded','summary':'Summary',
                         'gname':'Group','targtype1_txt':'Target_type','weaptype1_txt':'Weapon_type','motive':'Motive'},inplace=True)
terrordf.head(3)

        eventid  Year  Month  Day  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001  1970      7    2  ...        0         0       0      NaN
1  197000000002  1970      0    0  ...        1         1       1      NaN
2  197001000001  1970      1    0  ...       -9         1       1      NaN

[3 rows x 135 columns]

In [11]:
# Keeping only those columns which are useful in our data exploration journey 
terrordf=terrordf[['Year','Month','Day','Country','Region','city','latitude','longitude','AttackType',
                   'Killed','Wounded','Target','Summary','Group','Target_type','Weapon_type','Motive']]

In [12]:
# adding a column 'Casualities' containing the sum of the values of total people killed and wounded
terrordf['casualities']=terrordf['Killed']+terrordf['Wounded']

In [14]:
# displaying the top 3 entries in the dataset along with its corresponding column name as we can see in the output below.
terrordf.head(3)

   Year  Month  Day  ... Weapon_type Motive casualities
0  1970      7    2  ...     Unknown    NaN         1.0
1  1970      0    0  ...     Unknown    NaN         0.0
2  1970      1    0  ...     Unknown    NaN         1.0

[3 rows x 18 columns]

In [20]:
#missing data
total = terrordf.isnull().sum().sort_values(ascending=False)
percent = ((terrordf.isnull().sum()/terrordf.isnull().count())*100).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

              Total    Percent
Motive       131130  72.171984
Summary       66129  36.396409
casualities   16874   9.287196
Wounded       16311   8.977330
Killed        10313   5.676120
longitude      4557   2.508104
latitude       4556   2.507554
Target          636   0.350045
city            434   0.238867
Region            0   0.000000
Month             0   0.000000
Day               0   0.000000
Country           0   0.000000
AttackType        0   0.000000
Group             0   0.000000
Target_type       0   0.000000
Weapon_type       0   0.000000
Year              0   0.000000

since the Motive column and Summary Column has almost 72 and 36 percent of null values respectively, they can be removed as they will not help us in data exploration much.

In [28]:
# Removing columns having Null Values which are not useful to us in data exploration 
terrordf.drop(['Motive','Summary'],axis = 1, inplace=True)

In [34]:
terrordf.columns

Index(['Year', 'Month', 'Day', 'Country', 'Region', 'city', 'latitude',
       'longitude', 'AttackType', 'Killed', 'Wounded', 'Target', 'Group',
       'Target_type', 'Weapon_type', 'casualities'],
      dtype='object')